/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

#root {
  margin: 0;
  width: 100%;
  /* padding: 0.75rem; */
  box-sizing: border-box;
  /* text-align: center; */
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card__grid{
  padding: 0rem 1rem;
}

.card__grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill , 14.5rem [col-start]);
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 2.25rem;
  padding-right: 2.25rem; */
  width: 14.5rem;
  height: 13rem;
  /* padding: 2em; */
}

.card__container {
  width: 100%;
  height: 100%;
  /* border-width: 2px; */
  /* border-color: black; */
  display: block;
  margin: 0px auto;
}

.card__image-container{
  position: relative;
  width: 10rem ;
  height: 10rem;
  margin: auto;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}

.card__image {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__overlay-text-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card__image-overlay-text{
  /* display: inline-block; */
  /* margin: auto; */
  opacity: 1;
}

.card__image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.25s ease;
  border-radius: 10px;
  background-color: black;
  z-index: 2;
  align-items: center;
}

.card__image-container:hover .card__image-overlay{
  opacity: 0.75;
}

.card__title{
  width: 10rem;
  margin: 0 auto;
  padding: 1%;
  text-align: left;
  overflow: hidden;
}

.pagenation{
  width: 20rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.pagenation__container{
  /* margin: auto; */
  height: 4rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagenation__page{
  display: inline-flex;
  margin: 1rem;
}

.pagenation__nav-btn {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  align-items: center;  
  /* align-content: center; */
}

.page-content{
  width: 100%;
  height: 100%;
}

.read-the-docs {
  color: #888;
}

.playlist-info{
  /* display: flex; */
  width: 22.5rem;
  height: 36rem;
  background-color: gray;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  /* justify-content: center; */
  /* align-items: center; */
}

.playlist-info__img-container{
  /* display: flex; */
  width: 22.5rem;
  height: 17.5rem;
  padding-top: 1.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.playlist-info__playlist-img{
  border-radius: 0.5rem;
  object-fit: cover;
  width: 17.5rem;
  height: 17.5rem;
  border-color: black;
  border-width: 0.15rem;
  /* border-style: solid; */
}

.playlist-info__info-container{
  text-align: left;
  width: 19.5rem;
  padding: 1.5rem
}

.playlist-info__title{
  font-size: 2rem;
  height: 6rem;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  /* margin-bottom: 0.5rem; */
}

.playlist-info__id{
  word-break: break-all;
  width: 100%;
  height: 3rem;
}

.playlist-info__track-count{
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.playlist-info__description{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
}

.convert-page{
  width: 100%;
  height: 100%;
}

.track-list{
  /* margin-top: 1.75rem; */
  min-height: 40rem;
  width: 99.25rem;
  background-color: gray;
  
  border-radius: 0.75rem;
  padding: 1rem;
  align-items: center;
}

.track-list__header-row{
  border-style: solid;
  border-color: black;
  display: flex;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

.track-list__position{
  align-self: center;
  width: 2.5%;
  text-align: center;
}

.track-list__small-col{
  flex-grow: 1;
  text-align: center;
  align-self: center;
  /* justify-self: center; */
}

.track-list__title-col{
  width: 35%;
  text-align: left;
  margin-left: 0.625%;
  margin-right: 0.625%;
}

.track-list__title{
  color:aliceblue;
}

.track-list__header-image-col{
  width: 10%; 
}

.track-list__image-col{
  width: 10%;
  max-width: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

.track-list__image{
  width: 3.8rem;
  height: 3.8rem;
  object-fit: cover;
  text-align: center;
}

.track-list__row{
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.nav{
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}

.convert-button{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.background-image-container{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-image{
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 75%;
  filter: blur(200rem);
}

.convert-page-content{
  z-index: 1;
  position: absolute;
}

.convert-page__info-container {
  position: sticky;
  align-self: flex-start;
  top: 0.75rem;
}

.convert-content{
  display: flex;
}

.margin-spacing {
  width: 0.75rem;
}

.convert-page__form {
  text-align: left;
  background-color: gray;
  height: 15rem;
  width: 22.5rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  padding: 0.75rem;
}
/* .search-result-container {
  width: 100%;
  height: 100%;
} */

.edit-modal{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.749);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease;
}

.modal-hidden{
  display: none;
  transition: ease;
}

.edit-modal__container{
  padding: 1rem;
  height: 35rem;
  width: 45rem;
  background-color: azure;
  border-radius: 0.5rem;
  opacity: 100%;
}

.edit-modal__tabs-bar{
  display: flex;
  justify-self: left;
}

.lookup__input-bar{
  padding-top: 1rem;
  display: flex;
  justify-content: left;
  padding-bottom: 1rem;
}

.edit-modal__panel{
  display: none;
  width: 45rem;
  height: 29rem;
}

.active {
  display: block;
}

.lookup__input{
  width: 90%;
  height: 2.5rem;
  margin-right: 5%;
}



/* 
  Front-page
*/

.large-card{
  height: 37.5rem;
  max-width: 70rem;
}

.large-background{
  /* url(/src/assets/dots.svg) */
  /*  */
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), rgba(0,0,0,0.8)), url(/src/assets/filip-VHf4jqrUu7g-unsplash.jpg);
  /* background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0)) , url(/src/assets/filip-VHf4jqrUu7g-unsplash.jpg); */
}

.section{
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/src/assets/pexels-padrinan-167092.jpg);
}

.footer{
  height: 20rem;
}

.description-text{
  text-shadow: 0x 3px 0px #FF0000;
}

/*
  Login and sign up
*/

.login-container{
  min-height: 40rem;
  width: 40rem;
  margin: 0% 3rem;
}

/* .test-c {
  height: 1000px;
} */

.filler{
  flex-grow: 1;
  max-width: 50%;
}

@media screen and (max-width: 900px) {
  .filler{
    display: none;
  }
}


/*
  Home Page
*/

.link-box{
  width: 30rem;
}

.content{
  height: 50rem;
}